<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none border border-primary">
// Grab the element you want to manipulate
var myOutput = document.getElementById("output");
myOutput.innerHTML += "DOM Manipulation Rox!<br/>";
myOutput.innerHTML += "<strong>yay!</strong><br/>";
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none border border-primary">
// Again, grab the element you want to manipulate
var heading = document.getElementsByTagName("h4");  // returns node list
heading[0].innerHTML = "I have achieved DOM control!";
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none border border-primary">
// Actually updating the DOM
// Inspect the page with Chrome tools
// Create a paragraph tag with text and add it to the document
var paragraph = document.createElement('p');
paragraph.appendChild(document.createTextNode('I have achieved DOM control '));
	
// Add the strong tag and text, then append it to the paragraph
var strong = document.createElement('strong');
strong.appendChild(document.createTextNode('properly!'));
paragraph.appendChild(strong);
	
// Get access to the heading and then add the paragraph as a sibling
var heading = document.getElementById("heading");
heading.parentNode.appendChild(paragraph);

</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none border border-primary">
// Create an input tag with text and add it to the document
var input = document.createElement('input');

// Set some attributes and set the value
input.setAttribute("class", "border border-primary");
input.setAttribute("id", "myInput");
input.value = "hello";
	
// Get access to the heading and then add the paragraph as a sibling
var heading = document.getElementById("heading");
heading.parentNode.appendChild(input);

</textarea>

<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none border border-primary">
// Grab the value from our input field
var input = document.getElementById('myInput');
var myInputValue = input.value;
	
print(`myInputValue: ${myInputValue}`);
print(`typeof myInputValue: ${typeof myInputValue}`);

</textarea>

<!-- ---------------------------- EXAMPLE 6 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none border border-primary">
// Removing elements
// get the element to remove
var input = document.getElementById('myInput');
// remove from the parent
input.parentNode.removeChild(input);

// We'll grab the heading as reference to remove our paragraph tag
var heading = document.getElementById("heading");
heading.parentNode.removeChild(heading.parentNode.lastChild);

</textarea>



<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered border border-success" id="output"></div>
			</div>
		</div>
	</div>
</div>
