<div id="contentHeader">
</div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label class="d-block">JavaScript</label>
<!-- ---------------------------- EXAMPLE 0 ---------------------------- -->
<!-- <div class="dialog-editor invisible" data-target="return">
	&lt;orly-leftnav active="home"> &lt;orly-nav-item label="Home"
	name="home" href="index.html" icon="home">&lt;/orly-nav-item>
	&lt;orly-nav-item label="Layout" name="layout"
	href="layout.html">&lt;/orly-nav-item> &lt;orly-nav-item
	label="Navigation" labelm="NAV" name="navigation"
	href="navigation.html"> &lt;orly-nav-item label="Left Navigation"
	name="left_navigation" href="#left">&lt;/orly-nav-item>
	&lt;/orly-nav-item> &lt;/orly-leftnav>
</div> -->

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
// We can use the "typeof" operator to determine the 
// type of variable we are working with.
let answer = 100;           // answer is a number
print("typeof answer: " + (typeof answer));
answer = 'it woarks!!';     // now answer is a String, no errors
print("typeof answer: " + (typeof answer));
</textarea>
				
<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
// Go to the console to see the error.
print("Check the browser console to read any errors."); // won't print :(
try {
	const five;
	print(five);
} catch (err) {
	print(err);
}
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var name = "Harsh";
print(name);
name = "Rakesh";
print(name);
</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
let price = 50.00;
let tax = 6.34;
let totalPrice = (price + tax);
let message = "Your total is " + totalPrice;
print(message);
</textarea>

<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var result = '1' + '1' + '1';
print(result);

//var result = '1' + '1' + 1;
//print(result);

//var result = '1' + 1 + 1;
//print(result);

//var result = 1 + '1' + 1;
//print(result);

//var result = 1 + 1 + '1';
//print(result);

//var result = 1 + 1 + "1" + 1;
//print(result);
</textarea>

<!-- ---------------------------- EXAMPLE 6 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var result = ![]+(-~[]-~[]-~[]-~[])+(-~{}-~{})-1;
print(result);
</textarea>

<!-- ---------------------------- EXAMPLE 7 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
function sayHello() {
	// this is the body; it started with an opening curly brace...
	print("Hello world!");
	// ...and ends with a closing curly brace
}

sayHello();
</textarea>

<!-- ---------------------------- EXAMPLE 8 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// We talked about the importance of using semicolons in JavaScript. 
// It will be a good habit to get into before we get to Java. Additionally, 
// semicolons are inserted into the code automatically, and at times, this
// can cause unexpected behavior like in the example below.

function myFunction() {
    return // <- semicolon automatically inserted here
    5;     // <- the 5 is never returned to the caller 
    alert("I never run. I prefer sitting!"); // Nathan Joke
}

var result = 10;
result = myFunction();
console.log(result);
print(result);

// "undefined" is printed to the windows since a value is never returned
// in the function.
</textarea>


<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
				
<!-- 				<div>
					<button class="btn btn-success float-right" onclick="run('console1', 'output1');">
						Run
					</button>
				</div> -->
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
