<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Create a promise 
// it will either resolve or reject
var promiseToGetImage = new Promise(function(resolve, reject){
	// get image code
	let getImage = true;
	if(getImage){
		//the resolve sends its argument to .then
		resolve("done, no problem"); // success 
	} else {
		reject("not done, big problem") // error
	}
});

promiseToGetImage.then(function(fromResolve){
	print(`${fromResolve}`);
}).catch(function(fromReject){
	print(`${fromReject}`);
})
// change getImage to false
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Let's alter our first example to create a function
// that returns a promise
function promiseToGetImage(url){
	return new Promise(function(resolve, reject){
		let image = new Image();
		image.src = url;
	
		image.onload = function(){
			// success, let's return our html img object
			resolve(image);
		}
		
		image.onerror = function(){
			reject("did not load image at: " + url);
		}		
	});
} 

promiseToGetImage("https://placekitten.com/200/500").then(function(fromResolve){
	// yay! we have an image object
	// let's add it to the page
	document.getElementById("output").appendChild(fromResolve);
}).catch(function(fromReject){
	print(`${fromReject}`);
})
// mess up the url to see the error
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// What if we need to chain our promises because the first one
// must proceed the second one?
// Let's chain 'em 
function promiseToGetImage(url){
	return new Promise(function(resolve, reject){
		let image = new Image();
		image.src = url;
	
		image.onload = function(){
			resolve(image);
		}
		
		image.onerror = function(){
			reject("did not load image at: " + url);
		}		
	});
} 

// Let's abstract our code that places the image on the page
function placeImageOnPage(image){
	document.getElementById("output").appendChild(image);
}

// to help keep the code tidy
// let's store the image urls in an array
var imgArray = [
	"https://placekitten.com/200/500",
	"https://placekitten.com/200/300"
]

promiseToGetImage(imgArray[0]).then(function(fromResolve){
	// yay! we have an image object
	placeImageOnPage(fromResolve);
	// now let's get the next promise going
	return promiseToGetImage(imgArray[1]);
	}).then(function(fromResolve){
		placeImageOnPage(fromResolve);
}).catch(function(fromReject){
	// this catch block now catches all errors that may arise in this chain
	print(`${fromReject}`);
})
// mess up the urls to see the errors
</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// What if we don't care about order? 
// We want to run them in parallel 
// Promise.all waits for all fulfillments (or the first rejection)
function promiseToGetImage(url){
	return new Promise(function(resolve, reject){
		let image = new Image();
		image.src = url;
	
		image.onload = function(){
			resolve(image);
		}
		
		image.onerror = function(){
			reject("did not load image at: " + url);
		}		
	});
} 

function placeImageOnPage(image){
	document.getElementById("output").appendChild(image);
}

var imgArray = [
	"https://placekitten.com/200/500",
	"https://placekitten.com/200/300",
	"https://placekitten.com/200/50"
]

// use promise.all
// create an array of promise objects
Promise.all([
	promiseToGetImage(imgArray[0]),
	promiseToGetImage(imgArray[1]),
	promiseToGetImage(imgArray[2])
]).then(function(fromResolves){
		fromResolves.forEach(function(resolve){
			placeImageOnPage(resolve);
		})
}).catch(function(fromReject){
	print(`${fromReject}`);
})
</textarea>

<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// same code but with arrow functions
function promiseToGetImage(url){
	return new Promise((resolve, reject)=>{
		let image = new Image();
		image.src = url;
	
		image.onload = function(){
			resolve(image);
		}
		
		image.onerror = function(){
			reject("did not load image at: " + url);
		}		
	});
} 

function placeImageOnPage(image){
	document.getElementById("output").appendChild(image);
}

var imgArray = [
	"https://placekitten.com/200/500",
	"https://placekitten.com/200/300",
	"https://placekitten.com/200/50"
]

Promise.all([
	promiseToGetImage(imgArray[0]),
	promiseToGetImage(imgArray[1]),
	promiseToGetImage(imgArray[2])
]).then(fromResolves=>{
		fromResolves.forEach(resolve=>placeImageOnPage(resolve));
}).catch(fromReject=>{
	print(`${fromReject}`);
});

</textarea>


<!-- ---------------------------- EXAMPLE 6 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Now we don't care if they all run
// we only want one to complete
// The Promise.race() method returns a promise that fulfills or rejects 
// as soon as one of the promises in an iterable fulfills or rejects, 
// with the value or reason from that promise.
function promiseToGetImage(url){
	return new Promise((resolve, reject)=>{
		let image = new Image();
		image.src = url;
	
		image.onload = function(){
			resolve(image);
		}
		
		image.onerror = function(){
			reject("did not load image at: " + url);
		}		
	});
} 

function placeImageOnPage(image){
	document.getElementById("output").appendChild(image);
}

var imgArray = [
	"https://placekitten.com/200/500",
	"https://placekitten.com/200/300",
	"https://placekitten.com/200/50"
]

Promise.race([
	promiseToGetImage(imgArray[0]),
	promiseToGetImage(imgArray[1]),
	promiseToGetImage(imgArray[2])
]).then(fromResolve=>{
	// get rid of the forEach 
	// no longer receiving an array
		placeImageOnPage(fromResolve);
}).catch(fromReject=>{
	print(`${fromReject}`);
});
</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
