<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
print(`1+1: ${1+1}`);

print(`0.1 + 0.2: ${0.1 + 0.2}`);
// 0.30000000000000004 - the result of a floating point calculation

// JavaScript numbers are really floating points. Due to inadequacies 
// when representing numbers in base-2, as well as a finite machine, 
// we are left with a format that is filled with rounding errors. We
// can use ".toFixed(x)" to assist, though;
print(`(0.1 + 0.2).toFixed(2): ${(0.1 + 0.2).toFixed(2)}`);

// toFixed(n) provides n length after the decimal point; toPrecision(x) provides x total length.

print(`8 - 1: ${8 - 1}`);
print(`35/7: ${35/7}`);
print(`5/7: ${5/7}`);
print(``);
print(`-- modulo division --`);
print(`10 % 2: ${10 % 2}`);
print(`30 % 4: ${30 % 4}`);
print(`18.5 % 7: ${18.5 % 7}`);

println("");

// IVAN NOTES:
// JavaScript's numbers are usually entered as decimal floating-point numbers, 
// those are bad at handling decimal fractions so 0.1 + 0.2 is not equal to 0.3

// In the decimal system, all fractions are divided by a power of 10, so m/10^e, 
// so in the denominator, there are only tens, That's why 1/3 cannot be expressed 
// precisely as a decimal floating-point number. Binary floating-point numbers 
// only have 2's in the denominators. So it's hard to represent decimal numbers 
// with that, so for example:
//    0.5 = 5/10 = (1/2) = 0.1 binary
// But for the ones can be represented precisely, you get weird numbers
//    0.1 = 1/10 = 1/2x5 ...

// You can't normally see this in JS, but you can make it visible by multiplying 
// it to a power of 10 high enough
println(`0.1 &#42; Math.pow(10, 24): ${0.1 * Math.pow(10, 24)}`);
//    1. 0000000000000001e+23

// And if you add 2 numbers that are note represented precisely, the results are 
// sometimes imprecise as well
//    0.1 + 0.2  /// 0.30000000000000004

// How can you fix this?
// Get the numbers and multiply them by 10, do the math then divide them by 100!
// ... but a better fix, is to use a "machine epsilon" for double precision 2^-53
const EPSILON = Math.pow(2, -53);

function epsEqu(x, y) {
    return Math.abs(x - y) < EPSILON;
}

println(`0.1 + 0.2 === 0.3: ${0.1 + 0.2 === 0.3}`); 
// false

println(`epsEqu(0.1+0.2, 0.3):  ${epsEqu(0.1+0.2, 0.3)}`);
//true

// FYI
// This behavior is an intentional consequence of having adopted the standard for 
// binary floating-point arithmetic (ieee 754)

</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var result = (1 + 3) * 2 / 2 + 1 - 4;
print(`result: ${result}`);
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// There are three special not-a-real-number values:
var result = Infinity; // result of e.g. 1/0
print(`result: ${result}`);

var result = -Infinity; // result of e.g. -1/0
print(`result: ${result}`);

var result = NaN; // result of e.g. 0/0, stands for 'Not a Number'
print(`result: ${result}`);

// For Fun
if (NaN) {
	print(`NaN is truthy`);
} else {
	print(`NaN is falsey`);
}

print(`typeof NaN: ${typeof NaN}`);
</textarea>


<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
//There's shorthand for performing math operations on variables:
var result = 5;
print(`Starting with result = ${result}`);
print(`result (result += 5): ${result += 5}`);
// "result += 5" is equivalent to "result = result + 5;." result is 10 now

print(`result (result*= 10): ${result*= 10}`);
// now result is 100

// Note: The plus and asterisk notation above can be replaced with
//       division and subtraction notation.

// Postfix, Prefix, and Infix
// When using postfix notation, with the operator after operand 
// (for example, x++), the value, before incrementing, is returned.

// When using prefix notation, with the operator before operand 
// (for example, ++x), or infix notation with the operator between the 
// operands (for example 1 + 2) the value, after incrementing, is returned. 

// Adding and Subtracting 1 using postfix notation
print(`result (result++): ${result++}`);
// After returning the value 100, the variable "result" is incremented
// by 1 and has a value of 101.
println(`result (result): ${result}`);

print(`result (result--): ${result--}`);
// After returning the value 101, the variable "result" is decremented
// by 1 and has a value of 100.
println(`result (result): ${result}`);

// Adding and Subtracting 1 using prefix notation
print(`result (++result): ${++result}`); // 101
print(`result (--result): ${--result}`); // 100
</textarea>


<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
